---
import config from '@data/config.json';

// utils
const icon = 'text-golden hover:text-white transition-all duration-300';
const relExternal = 'external nofollow noopener';
---
<div class="mt-8 justify-center flex gap-4">
  <a
    href={config.linkedin}
    target="_blank" rel={relExternal}
    class={icon}
    id="click_linkedin_icon"
  >
    <span class="hidden">LinkedIn</span>
    <svg width="36" height="37" viewBox="0 0 36 37" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="size-10">
      <path d="M18 0.20874C8.06039 0.20874 0 8.26913 0 18.2087C0 28.1483 8.06039 36.2087 18 36.2087C27.9396 36.2087 36 28.1483 36 18.2087C36 8.26913 27.9396 0.20874 18 0.20874ZM12.7694 27.4197H8.38559V14.2309H12.7694V27.4197ZM10.5776 12.4299H10.5491C9.078 12.4299 8.12659 11.4173 8.12659 10.1516C8.12659 8.85745 9.10712 7.8728 10.6068 7.8728C12.1064 7.8728 13.0292 8.85745 13.0578 10.1516C13.0578 11.4173 12.1064 12.4299 10.5776 12.4299ZM28.5765 27.4197H24.1933V20.364C24.1933 18.5908 23.5585 17.3815 21.9724 17.3815C20.7614 17.3815 20.0402 18.1972 19.7232 18.9846C19.6073 19.2664 19.579 19.6603 19.579 20.0544V27.4197H15.1955C15.1955 27.4197 15.2529 15.4682 15.1955 14.2309H19.579V16.0983C20.1616 15.1996 21.2039 13.9213 23.5297 13.9213C26.4139 13.9213 28.5765 15.8063 28.5765 19.8572V27.4197Z" />
    </svg>							
  </a>
  
  <a
    href={config.instagram}
    target="_blank" rel={relExternal}
    class={icon}
    id="click_instagram_icon"
  >
    <span class="hidden">Instagram</span>
    <svg width="36" height="37" viewBox="0 0 36 37" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="size-10">
      <path d="M21.4453 18.2087C21.4453 20.1116 19.9028 21.6541 18 21.6541C16.0972 21.6541 14.5547 20.1116 14.5547 18.2087C14.5547 16.3059 16.0972 14.7634 18 14.7634C19.9028 14.7634 21.4453 16.3059 21.4453 18.2087Z" />
      <path d="M26.0574 12.113C25.8918 11.6642 25.6275 11.258 25.2842 10.9245C24.9508 10.5812 24.5448 10.317 24.0958 10.1514C23.7316 10.0099 23.1844 9.84155 22.1767 9.79568C21.0866 9.74597 20.7598 9.73526 18 9.73526C15.24 9.73526 14.9131 9.7457 13.8233 9.79541C12.8156 9.84155 12.2682 10.0099 11.9042 10.1514C11.4552 10.317 11.0489 10.5812 10.7158 10.9245C10.3725 11.258 10.1082 11.6639 9.94235 12.113C9.8009 12.4772 9.63254 13.0246 9.58667 14.0323C9.53696 15.1221 9.52624 15.449 9.52624 18.209C9.52624 20.9688 9.53696 21.2956 9.58667 22.3857C9.63254 23.3935 9.8009 23.9406 9.94235 24.3048C10.1082 24.7538 10.3722 25.1598 10.7155 25.4932C11.0489 25.8365 11.4549 26.1008 11.904 26.2664C12.2682 26.4081 12.8156 26.5765 13.8233 26.6223C14.9131 26.6721 15.2397 26.6825 17.9997 26.6825C20.76 26.6825 21.0869 26.6721 22.1765 26.6223C23.1842 26.5765 23.7316 26.4081 24.0958 26.2664C24.9972 25.9187 25.7097 25.2062 26.0574 24.3048C26.1988 23.9406 26.3672 23.3935 26.4133 22.3857C26.463 21.2956 26.4735 20.9688 26.4735 18.209C26.4735 15.449 26.463 15.1221 26.4133 14.0323C26.3675 13.0246 26.1991 12.4772 26.0574 12.113ZM18 23.5162C15.0686 23.5162 12.6922 21.1402 12.6922 18.2087C12.6922 15.2773 15.0686 12.9012 18 12.9012C20.9312 12.9012 23.3075 15.2773 23.3075 18.2087C23.3075 21.1402 20.9312 23.5162 18 23.5162ZM23.5173 13.9318C22.8323 13.9318 22.277 13.3764 22.277 12.6914C22.277 12.0064 22.8323 11.451 23.5173 11.451C24.2023 11.451 24.7577 12.0064 24.7577 12.6914C24.7574 13.3764 24.2023 13.9318 23.5173 13.9318Z" />
      <path d="M18 0.20874C8.06039 0.20874 0 8.26913 0 18.2087C0 28.1483 8.06039 36.2087 18 36.2087C27.9396 36.2087 36 28.1483 36 18.2087C36 8.26913 27.9396 0.20874 18 0.20874ZM28.2736 22.4701C28.2236 23.5703 28.0486 24.3215 27.7932 24.9791C27.2563 26.3675 26.1587 27.465 24.7703 28.002C24.1131 28.2574 23.3616 28.4321 22.2616 28.4823C21.1594 28.5326 20.8073 28.5447 18.0003 28.5447C15.193 28.5447 14.8412 28.5326 13.7387 28.4823C12.6387 28.4321 11.8872 28.2574 11.2299 28.002C10.54 27.7424 9.91544 27.3356 9.39908 26.8097C8.87338 26.2936 8.46661 25.6687 8.20706 24.9791C7.95163 24.3218 7.77667 23.5703 7.72668 22.4703C7.67587 21.3679 7.66406 21.0157 7.66406 18.2087C7.66406 15.4017 7.67587 15.0496 7.72641 13.9474C7.7764 12.8471 7.95108 12.0959 8.20651 11.4384C8.46606 10.7487 8.87311 10.1239 9.39908 9.60782C9.91516 9.08185 10.54 8.67508 11.2297 8.41553C11.8872 8.1601 12.6384 7.98541 13.7387 7.93515C14.8409 7.88489 15.193 7.8728 18 7.8728C20.807 7.8728 21.1591 7.88489 22.2613 7.93542C23.3616 7.98541 24.1128 8.1601 24.7703 8.41525C25.46 8.6748 26.0848 9.08185 26.6012 9.60782C27.1269 10.1242 27.5339 10.7487 27.7932 11.4384C28.0489 12.0959 28.2236 12.8471 28.2739 13.9474C28.3241 15.0496 28.3359 15.4017 28.3359 18.2087C28.3359 21.0157 28.3241 21.3679 28.2736 22.4701Z" />
    </svg>													
  </a>

  <a
    href={config.youtube}
    target="_blank" rel={relExternal}
    class={icon}
    id="click_youtube_icon"
  >
    <span class="hidden">Youtube</span>
    <svg width="36" height="37" viewBox="0 0 36 37" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="size-10">
      <path d="M15.5212 14.5526L15.522 21.3437L22.0058 17.9599L15.5212 14.5526Z" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M36 18.2087C36 28.1499 27.9411 36.2087 18 36.2087C8.05887 36.2087 0 28.1499 0 18.2087C0 8.26761 8.05887 0.20874 18 0.20874C27.9411 0.20874 36 8.26761 36 18.2087ZM28.806 10.9769C29.5252 11.7103 29.76 13.3758 29.76 13.3758C29.76 13.3758 30 15.3321 30 17.2876V19.1215C30 21.0778 29.76 23.0333 29.76 23.0333C29.76 23.0333 29.5252 24.6988 28.806 25.4322C27.9837 26.2999 27.0719 26.3895 26.5565 26.4402C26.4998 26.4457 26.4479 26.4508 26.4015 26.4565C23.043 26.7012 18 26.7087 18 26.7087C18 26.7087 11.76 26.6513 9.84 26.4655C9.74903 26.4484 9.63876 26.4351 9.51388 26.42C8.9057 26.3465 7.95113 26.2312 7.19325 25.4322C6.474 24.6988 6.24 23.0333 6.24 23.0333C6.24 23.0333 6 21.0778 6 19.1215V17.2876C6 15.3321 6.24 13.3758 6.24 13.3758C6.24 13.3758 6.474 11.7103 7.19325 10.9769C8.0174 10.1081 8.93006 10.0194 9.44548 9.96934C9.50136 9.96391 9.55258 9.95893 9.5985 9.95346C12.957 9.70874 17.9947 9.70874 17.9947 9.70874H18.0053C18.0053 9.70874 23.043 9.70874 26.4015 9.95346C26.4474 9.95894 26.4987 9.96392 26.5546 9.96936C27.0696 10.0194 27.9827 10.1082 28.806 10.9769Z" />
    </svg>										
  </a>

  <a
    href={config.tiktok}
    target="_blank" rel={relExternal}
    class={icon}
    id="click_tiktok_icon"
  >
    <span class="hidden">Tiktok</span>
    <svg width="36" height="37" viewBox="0 0 36 37" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="size-10">
      <path d="M18 0.20874C8.06041 0.20874 0 8.26915 0 18.2087C0 28.1483 8.06041 36.2087 18 36.2087C27.9396 36.2087 36 28.1483 36 18.2087C36 8.26915 27.9396 0.20874 18 0.20874ZM27.0302 13.9811V16.4183C25.881 16.4187 24.7643 16.1935 23.7112 15.7492C23.034 15.4633 22.4031 15.095 21.8261 14.6498L21.8434 22.1517C21.8361 23.8409 21.1678 25.4281 19.9582 26.6236C18.9738 27.5967 17.7265 28.2155 16.3745 28.4159C16.0568 28.4629 15.7335 28.487 15.4066 28.487C13.9594 28.487 12.5854 28.0182 11.4614 27.1532C11.2499 26.9903 11.0476 26.8138 10.8551 26.6236C9.54415 25.328 8.86816 23.572 8.982 21.7246C9.06884 20.3185 9.63183 18.9774 10.5704 17.9263C11.8121 16.5354 13.5492 15.7633 15.4066 15.7633C15.7335 15.7633 16.0568 15.7879 16.3745 15.8349V16.736V19.2428C16.0733 19.1435 15.7516 19.0888 15.4166 19.0888C13.7197 19.0888 12.3469 20.4733 12.3723 22.1715C12.3884 23.258 12.9819 24.2078 13.8573 24.7313C14.2687 24.9774 14.7419 25.1299 15.247 25.1576C15.6427 25.1793 16.0227 25.1242 16.3745 25.008C17.5869 24.6075 18.4615 23.4687 18.4615 22.1256L18.4655 17.102V7.93046H21.822C21.8252 8.26304 21.859 8.58753 21.9217 8.90197C22.175 10.1747 22.8924 11.2789 23.8909 12.0316C24.7615 12.6883 25.8455 13.0775 27.0205 13.0775C27.0213 13.0775 27.031 13.0775 27.0302 13.0768V13.9811H27.0302Z" />
    </svg>													
  </a>
  <a
  href={`https://wa.me/+55${config.whatsapp}`}
    target="_blank" rel={relExternal}
    class={icon}
    id="click_whatsapp_icon"
  >
    <span class="hidden">WhatsApp</span>
    <svg width="36" height="37" viewBox="0 0 36 37" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="size-10">
      <path d="M18 0.20874C8.06039 0.20874 0 8.26913 0 18.2087C0 28.1483 8.06039 36.2087 18 36.2087C27.9396 36.2087 36 28.1483 36 18.2087C36 8.26913 27.9396 0.20874 18 0.20874ZM18.3815 28.6889V28.6889H18.3771C16.574 28.688 14.8022 28.236 13.2286 27.3779L7.51767 28.8756L9.04614 23.2946C8.10324 21.6615 7.60721 19.8086 7.60803 17.9105C7.6105 11.9724 12.4434 7.14139 18.3815 7.14139C21.2632 7.14249 23.9683 8.26419 26.0022 10.2997C28.0363 12.3354 29.1558 15.0414 29.1547 17.919C29.1522 23.8574 24.3188 28.6889 18.3815 28.6889Z" />
      <path d="M18.3851 8.96045C13.4459 8.96045 9.42902 12.9757 9.42682 17.9113C9.42627 19.6026 9.89978 21.2498 10.796 22.675L11.0089 23.0136L10.1041 26.3169L13.4931 25.4281L13.8203 25.622C15.1949 26.4378 16.7709 26.8693 18.3777 26.8698H18.3812C23.3166 26.8698 27.3334 22.8543 27.3356 17.9184C27.3365 15.5264 26.4059 13.2775 24.7154 11.5856C23.0249 9.89374 20.7765 8.96127 18.3851 8.96045ZM23.6519 21.7598C23.4275 22.3882 22.3522 22.962 21.8351 23.0394C21.3712 23.1086 20.7845 23.1375 20.1396 22.9329C19.7485 22.8087 19.2472 22.6431 18.6048 22.366C15.9046 21.2003 14.1411 18.4823 14.0065 18.3027C13.8719 18.123 12.9073 16.8434 12.9073 15.5187C12.9073 14.1943 13.6027 13.5431 13.8494 13.274C14.0963 13.0045 14.388 12.9372 14.5673 12.9372C14.7467 12.9372 14.9263 12.9389 15.0831 12.9466C15.2485 12.9548 15.4704 12.8837 15.6888 13.4085C15.9131 13.9474 16.4515 15.2718 16.5188 15.4064C16.5861 15.5413 16.6308 15.6984 16.5413 15.878C16.4515 16.0576 16.1532 16.4452 15.8684 16.7984C15.7489 16.9464 15.5932 17.0782 15.7503 17.3477C15.9071 17.6169 16.4476 18.4982 17.2477 19.2118C18.276 20.1286 19.1434 20.4126 19.4126 20.5475C19.6815 20.682 19.8386 20.6595 19.9957 20.4802C20.1525 20.3005 20.6686 19.6944 20.8479 19.4249C21.0273 19.1555 21.2069 19.2005 21.4536 19.2903C21.7005 19.3799 23.0238 20.0311 23.2929 20.1657C23.5621 20.3005 23.7415 20.3678 23.8087 20.4802C23.8763 20.5925 23.8763 21.1311 23.6519 21.7598Z" />
    </svg>
  </a>
</div>