---
import '@styles/global.css'

import Seo from "@components/Seo.astro";
const { title, description, image, frontmatter, noindex } = Astro.props;

---
<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Toledo Interactive" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<Seo {title} {description} url={Astro.url} {image} {frontmatter} {noindex} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
	</head>
	<body class="bg-background text-white">
		<slot />
	</body>
</html>

<style is:global>
	[x-cloak] { display: none !important;}
</style>